html {
  box-sizing: border-box;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  margin: 0;
  font: 16px/1 sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased; }

h1,
h2,
h3,
h4,
p,
blockquote,
figure,
ol,
ul {
  margin: 0;
  padding: 0; }

main,
li {
  display: block; }

h1 {
  font-size: 32px; }

h2 {
  font-size: 28px; }

h3 {
  font-size: 24px; }

h4 {
  font-size: 20px; }

strong {
  font-weight: bold; }

a,
button {
  color: inherit;
  transition: .3s; }

a {
  text-decoration: none; }

button {
  overflow: visible;
  border: 0;
  font: inherit;
  -webkit-font-smoothing: inherit;
  letter-spacing: inherit;
  background: none;
  cursor: pointer; }

::-moz-focus-inner {
  padding: 0;
  border: 0; }

img {
  max-width: 100%;
  height: auto;
  border: 0; }

.loader {
  position: absolute;
  bottom: 10px;
  left: 25px;
  display: flex;
  height: 50px;
  width: 50px;
  padding: 10px;
  animation: float 5s 3;
  z-index: 99999999999; }

.block {
  width: 10px;
  height: 10px;
  margin: 0;
  transform: rotate(45deg);
  background: #000;
  animation: pulse 7s infinite; }
  .block:first-child, .block:last-child {
    animation-delay: 250ms; }
  .block:nth-child(2) {
    margin-top: 10px;
    animation-delay: 500ms; }

@keyframes pulse {
  50% {
    background: #bcf;
    box-shadow: 0 0 20px #aaf; }
  100% {
    background: #000; } }

@keyframes float {
  85% {
    padding-top: 10px; }
  88% {
    padding-top: 15px; }
  91% {
    padding-top: 10px; }
  94% {
    padding-top: 15px; }
  97% {
    padding-top: 10px; } }

header {
  position: relative;
  width: 100vw;
  height: 568px;
  background-image: url("../img/PortfolioBGtestpic.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: -180px;
  background-attachment: fixed; }
  @media screen and (min-height: 640px) {
    header {
      height: 640px; } }
  @media screen and (min-height: 667px) {
    header {
      height: 667px; } }
  @media screen and (min-height: 720px) {
    header {
      height: 720px; } }
  @media screen and (min-height: 720px) {
    header {
      height: 768px; } }
  header .header-box {
    width: 150px;
    background: rgba(0, 0, 0, 0.5);
    color: #aaa;
    margin-left: auto;
    padding: 3%;
    text-align: center; }
    header .header-box .divider-blue {
      display: block;
      margin: 8px auto;
      width: 50px;
      height: 3px;
      background: #bcf; }
    header .header-box h2 {
      font-size: 1.5em;
      margin-top: 8px; }
    header .header-box h3 {
      font-size: 1em;
      margin-bottom: 8px; }
    header .header-box h4 {
      font-size: 0.75em; }

main {
  background: #111; }

nav {
  background: rgba(0, 0, 0, 0.75);
  color: #fff;
  height: 50px;
  display: flex;
  justify-content: space-between; }
  nav a {
    display: inline-block;
    height: 50px;
    width: 32%;
    text-align: center;
    line-height: 50px; }
    nav a:hover {
      background: #444; }

.header-slant .slant {
  margin-bottom: -5px;
  height: 110px;
  width: 100%;
  margin-top: -150px;
  transform: rotateX(180deg); }
  .header-slant .slant polygon {
    fill: #111;
    border: none;
    stroke-width: 0; }

.work-section {
  padding-top: 100px;
  width: 100%;
  background: #111;
  color: #fff;
  text-align: center;
  padding-bottom: 100px; }
  .work-section h2 {
    margin-bottom: 1em; }

.portfolio-item {
  width: 75%;
  background: #111;
  margin: auto;
  margin-bottom: 25px; }
  .portfolio-item .p-img {
    height: 200px;
    width: 100%;
    background: #444; }
  .portfolio-item .portfolio-item-details {
    margin-top: 5px;
    width: 100%;
    background: black;
    padding: 1em; }
    .portfolio-item .portfolio-item-details p {
      margin: 1em;
      font-size: 0.75em; }
    .portfolio-item .portfolio-item-details a {
      color: #bcf; }

.about-section {
  padding: 50px 25px;
  background: #404248;
  color: #fff; }
  .about-section h2 {
    text-align: center;
    margin-bottom: 1em;
    position: relative; }
    .about-section h2:after {
      content: "";
      position: absolute;
      top: 28px;
      left: 50%;
      transform: translateX(-50%);
      height: 10px;
      width: 100px;
      /* or 100px */
      border-bottom: 3px solid teal; }
  .about-section .avatar {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: #aaa;
    margin: auto;
    margin-bottom: 1em; }
  .about-section .about-me {
    color: #fff;
    margin-bottom: 1em; }
    .about-section .about-me p {
      margin-bottom: 1em; }
  .about-section .skills {
    display: flex;
    flex-wrap: wrap; }
    .about-section .skills img {
      width: 36px;
      height: 36px; }
    .about-section .skills h3 {
      width: 100%;
      margin-bottom: 1em;
      text-align: center; }
    .about-section .skills ul {
      flex: 1 30%;
      margin-bottom: 1em; }
    .about-section .skills li:first-child {
      font-weight: bold;
      margin-bottom: 1em; }

.about-slant .slant {
  height: 110px;
  width: 100%; }
  .about-slant .slant polygon {
    fill: #404248;
    border: none;
    stroke-width: 0; }

.contact {
  color: #fff;
  padding-bottom: 200px;
  text-align: center; }
  .contact h2 {
    margin-bottom: 1em; }
