.hborder, .work-section h4:after, .about-section h2:after {
  content: "";
  position: absolute;
  top: 28px;
  left: 50%;
  transform: translateX(-50%);
  height: 10px;
  width: 100px;
  /* or 100px */
  border-bottom: 3px solid #D68843; }

html {
  box-sizing: border-box;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  margin: 0;
  font: 16px/1 "Roboto", sans-serif;
  font-weight: 300;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background: #111; }

h1,
h2,
h3,
h4,
p,
blockquote,
figure,
ol,
ul {
  margin: 0;
  padding: 0; }

main,
li {
  display: block; }

h1 {
  font-size: 32px; }

h2 {
  font-size: 28px; }

h3 {
  font-size: 24px; }

h4 {
  font-size: 20px; }

strong {
  font-weight: bold; }

a,
button {
  color: inherit;
  transition: .3s; }

a {
  text-decoration: none; }

button {
  overflow: visible;
  border: 0;
  font: inherit;
  -webkit-font-smoothing: inherit;
  letter-spacing: inherit;
  background: none;
  cursor: pointer; }

::-moz-focus-inner {
  padding: 0;
  border: 0; }

img {
  max-width: 100%;
  height: auto;
  border: 0; }

.loader {
  position: absolute;
  top: -80px;
  left: 25px;
  display: flex;
  height: 50px;
  width: 50px;
  padding: 10px;
  animation: float 5s 3;
  z-index: 1; }

.block {
  width: 10px;
  height: 10px;
  margin: 0;
  transform: rotate(45deg);
  background: #000;
  animation: pulse 7s infinite; }
  .block:first-child, .block:last-child {
    animation-delay: 250ms; }
  .block:nth-child(2) {
    margin-top: 10px;
    animation-delay: 500ms; }

@keyframes pulse {
  50% {
    background: #bcf;
    box-shadow: 0 0 20px #aaf; }
  100% {
    background: #000; } }

@keyframes float {
  85% {
    padding-top: 10px; }
  88% {
    padding-top: 15px; }
  91% {
    padding-top: 10px; }
  94% {
    padding-top: 15px; }
  97% {
    padding-top: 10px; } }

.social-icons a:last-child img {
  animation-delay: 750ms; }

.social-icons img {
  animation: bounce 5s infinite; }

@keyframes bounce {
  85% {
    transform: rotate(0deg); }
  88% {
    transform: rotate(-15deg); }
  94% {
    transform: rotate(15deg); }
  97% {
    transform: rotate(0deg); } }

header {
  position: relative;
  padding-top: 50px;
  width: 100%;
  height: 440px;
  background-color: #111;
  background-image: url("../img/PortfolioBGpic3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: -180px;
  background-attachment: fixed;
  z-index: -1;
  transition: 1s; }
  @media screen and (min-height: 500px) {
    header {
      height: 100vh; } }
  @media screen and (min-width: 1024px) {
    header {
      background-position: left; } }
  header .header-box {
    position: fixed;
    right: 0;
    width: 155px;
    background: rgba(0, 0, 0, 0.75);
    color: #aaa;
    padding: 3%;
    margin-left: auto;
    text-align: center;
    transition: 1s; }
    header .header-box .divider-blue {
      display: block;
      margin: 8px auto;
      width: 50px;
      height: 3px;
      background: #bcf; }
      @media screen and (min-width: 768px) {
        header .header-box .divider-blue {
          margin: 16px auto; } }
    header .header-box h1 {
      font-weight: 400; }
      @media screen and (min-width: 768px) {
        header .header-box h1 {
          font-size: 3.5em;
          text-align: center;
          margin: auto; } }
    header .header-box h2, header .header-box h3, header .header-box h4 {
      font-weight: 300; }
    header .header-box h2 {
      font-size: 1.5em;
      margin-top: 8px; }
      @media screen and (min-width: 768px) {
        header .header-box h2 {
          font-size: 2.5em; } }
    header .header-box h3 {
      font-size: 1em;
      margin-bottom: 8px; }
      @media screen and (min-width: 768px) {
        header .header-box h3 {
          font-size: 2em; } }
    header .header-box h4 {
      font-size: 1em; }
      @media screen and (min-width: 768px) {
        header .header-box h4 {
          font-size: 1.25em; } }
    @media screen and (min-width: 768px) {
      header .header-box {
        width: 300px;
        transform: translate(-10%);
        right: initial;
        left: 75%;
        transform: translate(-50%); } }
    @media screen and (min-width: 1024px) {
      header .header-box {
        width: 350px;
        background: rgba(0, 0, 0, 0.75);
        padding: 1% 1% 3% 1%; } }
    @media screen and (min-width: 1400px) {
      header .header-box {
        left: 50%;
        transform: translate(-50%); } }

main {
  background: #111; }

.navbar {
  position: fixed;
  width: 100%;
  background: rgba(0, 0, 0, 0.9);
  color: #fff;
  height: 50px;
  display: flex;
  justify-content: space-between;
  z-index: 99999999; }
  .navbar a {
    display: inline-block;
    height: 50px;
    width: 32%;
    text-align: center;
    line-height: 50px; }
    .navbar a:hover {
      background: black; }
  @media screen and (min-width: 1024px) {
    .navbar {
      padding-left: 50%; } }

.active {
  transition: 0.5s;
  box-shadow: inset 0 -8px 8px -6px #bcf; }

.header-slant .slant {
  margin-bottom: -5px;
  height: 110px;
  width: 100%;
  margin-top: -150px;
  transform: rotateX(180deg); }
  .header-slant .slant polygon {
    fill: #111;
    border: none;
    stroke-width: 0; }

.work-section {
  position: relative;
  padding: 30px 30px 50px 30px;
  width: 100%;
  background: #111;
  color: #fff;
  text-align: center; }
  .work-section h2 {
    margin-bottom: 8px; }
  .work-section h4 {
    position: relative;
    font-weight: 300;
    margin-bottom: 4em; }

.portfolio-item {
  width: 100%;
  background: #111;
  margin: auto;
  margin-bottom: 25px; }
  .portfolio-item .p-img {
    width: 100%;
    background: #444; }
    @media screen and (min-width: 1024px) {
      .portfolio-item .p-img {
        width: 40%;
        height: auto; } }
  .portfolio-item .portfolio-item-details {
    margin-top: 5px;
    width: 100%;
    background: #000;
    padding: 1em; }
    .portfolio-item .portfolio-item-details p {
      margin: 1em; }
    .portfolio-item .portfolio-item-details img {
      height: 25px; }
    .portfolio-item .portfolio-item-details a {
      display: inline-block;
      color: #bcf;
      border: 1px solid #bcf;
      padding: 10px;
      margin: 10px 10px; }
  @media screen and (min-width: 1024px) {
    .portfolio-item {
      display: flex;
      align-items: center;
      background: #000;
      max-width: 1400px;
      border-right: 2px solid #bcf; } }

.comingsoon {
  margin: 100px 0; }
  .comingsoon h3, .comingsoon h4 {
    margin: 1em 0; }
  .comingsoon h4:after {
    border: none; }
  .comingsoon a {
    color: lime; }
    .comingsoon a:hover {
      color: #99ff99; }

.about-section {
  padding: 50px 25px;
  background: #404248;
  color: #fff; }
  .about-section h2 {
    text-align: center;
    margin-bottom: 2em;
    position: relative;
    font-weight: 300; }
  .about-section .avatar {
    display: block;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: #aaa;
    margin: 0 auto 1em auto; }
  .about-section .about-me {
    color: #fff;
    max-width: 600px;
    margin: 0 auto 2em auto;
    overflow: auto; }
    .about-section .about-me h4 {
      margin-bottom: 1em;
      font-weight: 300;
      color: #bcf; }
    .about-section .about-me p {
      margin-bottom: 1em;
      line-height: 1.2; }
    .about-section .about-me a {
      display: inline-block;
      float: right;
      border: 1px solid lime;
      padding: 15px 20px;
      border-radius: 2px; }
  .about-section .skills {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: auto; }
    .about-section .skills h3 {
      width: 100%;
      margin: 1em 0;
      text-align: center;
      font-weight: 300;
      color: #bcf; }
    .about-section .skills ul {
      flex: 1 10%;
      margin: 0 5px 1em 5px; }
      @media screen and (min-width: 400px) {
        .about-section .skills ul {
          margin: 0 10px 1em 10px; } }
      @media screen and (min-width: 590px) {
        .about-section .skills ul {
          margin: 0 30px 1em 30px; } }
      @media screen and (min-width: 768px) {
        .about-section .skills ul {
          margin: 0 40px 1em 40px; } }
      @media screen and (min-width: 1024px) {
        .about-section .skills ul {
          margin: 0 10px 1em 10px; } }
    .about-section .skills li:first-child {
      font-weight: bold;
      margin-bottom: 1em; }
  @media screen and (min-width: 768px) {
    .about-section .about-top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      min-width: 718px;
      max-width: 1200px;
      margin: 50px auto; }
    .about-section .about-me {
      margin: 0 auto 0 50px; } }

.about-slant .slant {
  height: 110px;
  width: 100%;
  margin-top: -5px; }
  .about-slant .slant polygon {
    fill: #404248;
    border: none;
    stroke-width: 0; }

.contact {
  display: flex;
  flex-wrap: wrap;
  color: #fff;
  text-align: center;
  height: calc(100vh - 100px);
  padding-top: 50px;
  align-content: center; }
  .contact h2 {
    flex: 1 100%;
    margin-bottom: 1em; }
    @media screen and (min-width: 768px) {
      .contact h2 {
        font-size: 3em; } }
  .contact div {
    flex: 1 100%; }
  .contact p {
    margin-bottom: 1em; }
    @media screen and (min-width: 768px) {
      .contact p {
        font-size: 2em; } }

.social-icons {
  margin: 50px auto; }
  .social-icons a {
    display: inline-block;
    margin: 0 15px;
    padding: 5px; }
  .social-icons img {
    width: 40px; }

footer {
  height: 50px;
  color: white;
  text-align: center;
  font-size: 0.8em; }
