//Header Arrow ANIMATION

$bg-grey: #111;
$block-initial: #000;
$block-color: #bcf;
$glow-color: #aaf;

.loader {
  position: absolute;
  bottom: 10px;
  left: 25px;
  display: flex;
  height: 50px;
  width: 50px;
  padding: 10px;
  animation: float 5s 3;
  z-index: 1;
}

.block {
  width: 10px;
  height: 10px;
  margin: 0;
  transform: rotate(45deg);
  background: $block-initial;
  animation: pulse 7s infinite;

  &:first-child,
  &:last-child {
    animation-delay: 250ms;
  }
  &:nth-child(2) {
    margin-top: 10px;
    animation-delay: 500ms;
  }
}

@keyframes pulse {
  50% {background: $block-color;
       box-shadow: 0 0 20px $glow-color;}
  100% {background: $block-initial;}
}
@keyframes float {
  85% {padding-top: 10px;}
  88% {padding-top: 15px;}
  91% {padding-top: 10px;}
  94% {padding-top: 15px;}
  97% {padding-top: 10px;}
}
