.contact {
  color: $white;
  text-align: center;
  height: 100vh;
  padding-top: 200px;
  h2 {
    margin-bottom: 1em;
  }
}

.social-icons {
  margin: 50px auto;
  a {
    display: inline-block;
    margin: 0 15px;
    padding: 5px;
  }
  img {
    width: 40px;
  }
}
