.contact {
  display: flex;
  flex-wrap: wrap;
  color: $white;
  text-align: center;
  height: calc(100vh);
  background: #333;
  background-color: #000;
  background-image: url("../img/dark-pavement1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: left;
  animation: blah infinite;
  margin-bottom: -100px;
  @keyframes blah {
    0% {background-position: top 0px}
    100% {background-position:  top 9000px;}
  }
  // align-content: center;

  .contact-head {
    display: flex;
    align-items: center;
    justify-content: center;
    background: $black;
    height: 150px;
    flex: 0 0 100%;
    h1 {
      font-size: 2.25em;
    }
    @media screen and #{$desktop} {
      height: 200px;
    }
  }

  div {
    flex: 1 100%;
  }
  .contact-box {
    p {
      margin-bottom: 1em;
      &:first-child {
        color: $lightBlue;
        font-weight: 500;
      }
      @media screen and #{$tablet} {
        font-size: 2em;
      }
    }
  }
  // p:last-child {
  //   flex: 1 100%;
  //   font-size: 1em;
  // }
}

.social-icons {
  margin: 50px auto;
  a {
    display: inline-block;
    margin: 0 15px;
    padding: 5px;
  }
  img {
    width: 40px;
  }
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;

  p {
    color: white;
    font-size: 0.8rem;
  }
}
