header {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-color: $black;
  background-image: url('../img/dark-pavement2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: left;
  transition: 1s;
  .header-box {
    width: 80%;
    color: $lightGray;
    padding: 3%;
    text-align: center;
    transition: 1s;
    .divider-blue {
      display: block;
      margin: 8px auto;
      width: 200px;
      height: 3px;
      background: $lightBlue;
      @media screen and #{$tablet} {
        margin: 16px auto;
      }
    }
    h1 {
      font-weight: 700;
      @media screen and #{$tablet} {
        font-size: 6em;
        text-align: center;
        margin: auto;
      }
    }
    h2 {
      color: $lightBlue;
      font-weight: 700;
      font-size: 1.5em;
      margin-top: 8px;
      @media screen and #{$tablet} {
        font-size: 2.5em;
      }
    }
    h3 {
      font-size: 1em;
      font-weight: 300;
      color: #00ff78;
      margin-top: 35%;
      @media screen and #{$s-phone} and (orientation: landscape) {
        margin-top: 10%;
      }
      @media screen and #{$tablet} {
        font-size: 1.25em;
      }
    }
  }
}

main {
  background: $black;
}
