header {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  // max-height: 100vh;
  // min-height: 100vh;
  background-color: $black;
  background-image: url('../img/dark-pavement3.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: left;
  // transition: 0.3s;
  .header-box {
    width: 80%;
    color: $lightGray;
    padding: 3%;
    text-align: center;
    margin: auto;
    transition: 1s;
    h1 {
      font-weight: 700;
      text-align: center;
      margin: auto;
      @media screen and #{$tablet} and #{$xs-mobile}{
        font-size: 4em;
      }
      @media screen and #{$l-desktop}{
        font-size: 6em;
      }
      @media screen and #{$l-mobile} and #{$s-tablet}{
        font-size: 6em;
      }
      @media screen and #{$tablet} and #{$xs-mobile}{

      }
      @media screen and #{$l-desktop}{

      }
    }
    h2 {
      color: $lightBlue;
      font-weight: 700;
      font-size: 1.5em;
      margin-top: 8px;
      margin-bottom: 3%;
      // @media screen and #{$s-tablet} and #{$s-mobile}{
      //   font-size: 2.5em;
      // }
      @media screen and #{$xs-mobile} {
        margin-bottom: 10%;
      }
      @media screen and #{$tablet} and #{$xs-mobile}{
        font-size: 2em;
      }
      @media screen and #{$l-desktop}{
        font-size: 2.5em;
      }
      @media screen and #{$l-mobile} and #{$s-tablet}{
        font-size: 2.5em;
      }
    }
    h3 {
      font-size: 1em;
      font-weight: 300;
      color: #00ff78;
      @media screen and #{$tablet} and #{$s-mobile}{
        font-size: 1.25em;
      }
    }
  }
}

main {
  background: $black;
}
