header {
  position: relative;
  padding-top: 50px;
  width: 100vw;
  height: 568px;
  background-image: url('../img/PortfolioBGtestpic.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: -180px;
  background-attachment: fixed;
  z-index: -1;
  //breakpoints at 568, 640, 667, 768, 900, 1024, 1280, 1366, 1440, 1600,
  @media screen and #{$s-mobile} {
    height: 640px;
  }
  @media screen and #{$m-mobile} {
    height: 667px;
  }
  @media screen and #{$l-mobile} {
    height: 720px;
  }
  @media screen and #{$l-mobile} {
    height: 768px;
  }






  .header-box {
    position: fixed;
    right: 0;
    width: 155px;
    background: rgba(0, 0, 0, 0.5);
    color: $lightGray;
    padding: 3%;
    margin-left: auto;
    text-align: center;
    .divider-blue {
      display: block;
      margin: 8px auto;
      width: 50px;
      height: 3px;
      background: $lightBlue;
    }
    h1 {
      font-weight: 400;
    }
    h2,h3,h4 {
      font-weight: 300;
    }
    h2 {
      font-size: 1.5em;
      margin-top: 8px;
    }
    h3 {
      font-size: 1em;
      margin-bottom: 8px;
    }
    h4 {
      font-size: 1em;
    }
  }
}

main {
  background: $black;
}
