.work-section {
  position: relative;
  padding: 0px 2%;
  width: 100%;
  // background-image: url("../img/dark-pavement1.jpg");
  // background: #555;
  background-size: cover;
  background-repeat: no-repeat;
  // background-position: -180px;

  background-attachment: fixed;
  color: $white;
  text-align: center;

  .portfolio-head {
    display: flex;
    align-items: center;
    justify-content: center;
    // background: #070707;
    height: 150px;
    h1 {
      font-size: 2.25em;
    }
  }
  .work-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background: $black;
    height: 125px;
    padding-bottom: 25px;
    max-width: 75%;
    margin: auto;
    a {
      color: $lightGreen;
      &:hover {
        color: lighten($lightGreen, 30%);
      }
    }
    img {
      max-width: 75px;
      padding-left: 25px;
      opacity: 0.25;
    }
    @media screen and #{$desktop} {
      height: 150px;
    }
  }
  @media screen and #{$desktop} {
    padding: 0;
  }
}


.portfolio-item {

  width: 100%;
  background: darken($gray, 50%);
  background-color: #000000;
  background-image: url("https://www.transparenttextures.com/patterns/shattered.png");
  margin: auto;
  margin-bottom: 25px;
  max-width: 1400px;
  font-size: 14px;
  .p-img {
    width: 100%;
    background: $gray;
    border-bottom: 1px solid $black;
    @media screen and #{$s-phone} and (orientation: landscape) {
      width: 50%;
      height: auto;
      border: 1px solid $black;
    }
    @media screen and #{$desktop} {
      width: 50%;
      height: auto;
      border: none;
      border-right: 1px solid $black;
    }
  }

  .portfolio-item-details {
    margin-top: 5px;
    width: 100%;
    height: 100%;
    // background: #666;
    padding: 1em;
    h3 {

    }
    p {
      margin: 1em;
    }
    img {
      height: 25px;
    }
    a {
      display: inline-block;
      color: $lightBlue;
      border: 1px solid $lightBlue;
      padding: 10px;
      margin: 10px 10px;
      &:hover {
        background: $grayBlue;
      }
      &:active {
        background: lighten($grayBlue, 20%);
      }
    }
  }
  @media screen and #{$s-phone} and (orientation: landscape) {
    display: flex;
    align-items: center;
    // background: #666;
    // max-width:  1400px;
    border-right: 2px solid $lightBlue;
  }
  @media screen and #{$desktop} {
    display: flex;
    align-items: center;
    // background: #666;
    // max-width:  1400px;
    border-right: 2px solid $lightBlue;
  }
}
