.header-slant {
  .slant {
    margin-bottom: -5px;
    height: 110px;
    width: 100%;
    margin-top: -150px;
    transform: rotateX(180deg);
    polygon {
      fill: $black;
      border: none;
      stroke-width: 0;
    }
  }
}


.work-section {
  position: relative;
  padding: 30px 30px 50px 30px;
  width: 100%;
  background: $black;
  // background: linear-gradient(to bottom, #111111 0%,#404248 100%);
  color: $white;
  text-align: center;

  h2 {
    margin-bottom: 8px;
  }
  h4 {
    position: relative;
    font-weight: 300;
    margin-bottom: 4em;
    &:after {
      @extend .hborder;
    }
  }
}


.portfolio-item {
  width: 100%;
  background: $black;
  margin: auto;
  margin-bottom: 25px;
  .p-img {
    width: 100%;
    background: $gray;
    @media screen and #{$desktop} {
      width: 40%;
      height: auto;
    }
  }
  .portfolio-item-details {
    margin-top: 5px;
    width: 100%;
    background: $blackblack;
    padding: 1em;
    p {
      margin: 1em;
    }
    img {
      width: 25px;
    }
    a {
      display: inline-block;
      color: $lightBlue;
      border: 1px solid $lightBlue;
      padding: 10px;
      margin: 10px 10px;
    }
  }
  @media screen and #{$desktop} {
    display: flex;
    align-items: center;
    background: $blackblack;
    max-width:  1400px;
    border-right: 2px solid $lightBlue;
  }
}
