.header-slant {
  .slant {
    margin-bottom: -5px;
    height: 110px;
    width: 100%;
    margin-top: -150px;
    transform: rotateX(180deg);
    polygon {
      fill: $black;
      border: none;
      stroke-width: 0;
    }
  }
}


.work-section {
  position: relative;
  padding-top: 75px;
  width: 100%;
  background: $black;
  // background: linear-gradient(to bottom, #111111 0%,#404248 100%);
  color: $white;
  text-align: center;
  padding-bottom: 100px;
  h2 {
    margin-bottom: 1em;
  }
}


.portfolio-item {
  width: 75%;
  background: $black;
  margin: auto;
  margin-bottom: 25px;
  .p-img {
    height: 200px;
    width: 100%;
    background: $gray;
  }
  .portfolio-item-details {
    margin-top: 5px;
    width: 100%;
    background: black;
    padding: 1em;
    p {
      margin: 1em;
    }
    a {
      color: $lightBlue;
    }
  }
}
