.about-section {
  padding: 50px 25px;
  background: $grayBlue;
  color: $white;
  h2 {
    text-align: center;
    margin-bottom: 2em;
    position: relative;
    font-weight: 300;
    &:after {
      @extend .hborder;
    }
  }
  .avatar {
    display: block;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: $lightGray;
    margin: 0 auto 1em auto;
    // border: 1px solid orange;
  }
  .about-me {
    color: $white;
    max-width: 600px;
    margin: 0 auto 2em auto;
    overflow: auto;
    h4 {
      margin-bottom: 1em;
      font-weight: 300;
      color: $lightBlue;
    }
    p {
      margin-bottom: 1em;
      line-height: 1.2;
    }
    a {
      display: inline-block;
      float: right;
      border: 1px solid lime;
      padding: 15px 20px;
      border-radius: 2px;
      &:hover {
        border-color: lighten(lime, 25%);
      }
    }
  }
  .skills {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: auto;
    // border: 1px solid blue;
    h3 {
      width: 100%;
      margin: 1em 0;
      text-align: center;
      font-weight: 300;
      color: $lightBlue;
    }
    ul {
      // border: 1px solid red;
      flex: 1 10%;
      margin: 0 5px 1em 5px;
      @media screen and #{$s-phone} {
        margin: 0 10px 1em 10px;
      }
      @media screen and #{$s-tablet} {
        margin: 0 30px 1em 30px;
      }
      @media screen and #{$tablet} {
        margin: 0 40px 1em 40px;
      }
      @media screen and #{$desktop} {
        margin: 0 10px 1em 10px;
      }
    }
    li:first-child {
      font-weight: bold;
      margin-bottom: 1em;
    }
  }
  @media screen and(min-width: 768px) {
    .about-top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      min-width: 718px;
      max-width: 1200px;
      margin: 50px auto;
      // border: 1px solid red;
    }
    .about-me {
      margin: 0 auto 0 50px;
      // border: 1px solid blue;
    }
  }
}


.about-slant {
  .slant {
    height: 110px;
    width: 100%;
    margin-top: -5px;
    // transform: rotateX(180deg);
    polygon {
      fill: $grayBlue;
      border: none;
      stroke-width: 0;
    }
  }
}
